DATABASE_URL=sqlite:///./richard_stock_pilot.db
LONGBRIDGE_APP_KEY=
LONGBRIDGE_APP_SECRET=
LONGBRIDGE_ACCESS_TOKEN=
LONGBRIDGE_REGION=cn
LONGBRIDGE_ENABLE_OVERNIGHT=true
DAILY_SYNC_SOURCE=screener
DAILY_SYNC_SYMBOLS=
DAILY_SYNC_MARKETS="US HK"
DAILY_SYNC_MIN_MARKET_CAP=50000000000
DAILY_SYNC_MIN_AVG_VOLUME=1000000
DAILY_SYNC_BAR_COUNT=60
DAILY_SYNC_FORCE=0
ENABLE_MESSAGE_PUSH=false
MESSAGE_PUSH_PROVIDER=pushplus
PUSHPLUS_TOKEN=
VITE_API_BASE=
